@font-face {
  font-family: "Luciole";
  font-style: normal;
  font-weight: 400;
  src: local("Luciole Regular"), local("Luciole-Regular"), url(./Luciole-Regular.woff2) format("woff2"),
    url(./Luciole-Regular.woff) format("woff");
}

@font-face {
  font-family: "Luciole";
  font-style: italic;
  font-weight: 400;
  src: local("Luciole Italic"), local("Luciole-Italic"), url(./Luciole-Italic.woff2) format("woff2"),
    url(./Luciole-Italic.woff) format("woff");
}

@font-face {
  font-family: "Luciole";
  font-style: normal;
  font-weight: 600;
  src: local("Luciole Bold"), local("Luciole-Bold"), url(./Luciole-Bold.woff2) format("woff2"),
    url(./Luciole-Bold.woff) format("woff");
}

@font-face {
  font-family: "Luciole";
  font-style: italic;
  font-weight: 600;
  src: local("Luciole Bold Italic"), local("Luciole-BoldItalic"), url(./Luciole-BoldItalic.woff2) format("woff2"),
    url(./Luciole-BoldItalic.woff) format("woff");
}
